@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-s1;
  }

  body {
    @apply font-poppins text-[16px] tracking-tight text-white overflow-x-hidden;
  }

  img {
    @apply block max-w-full;
  }

  button {
    @apply tracking-tight;
  }

  input {
    @apply tracking-tight;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
  }

  .dot {
    @apply size-1.5 rounded-full bg-blue-600 max-lg:hidden;
  }

  .nav-li {
    @apply relative flex flex-1 items-center justify-between max-lg:flex-col max-lg:items-start;
  }

  .nav-active {
    @apply text-cyan-300;
  }

  .nav-logo {
    @apply relative flex flex-1 items-center justify-center;
  }

  .caption-title {
    @apply text-[12px] font-bold leading-4 text-lime-200 uppercase tracking-[0.3em];
  }

  .h-num {
    @apply font-inter text-[72px] font-bold leading-[84px];
  }

  .h1 {
    @apply uppercase font-black text-[84px] leading-none tracking-tight;
  }

  .h2 {
    @apply uppercase font-black text-[64px] leading-none;
  }

  .h3 {
    @apply text-[48px] leading-tight;
  }

  .h4 {
    @apply text-[40px] font-semibold leading-tight;
  }

  .h5 {
    @apply text-[32px] font-semibold leading-tight;
  }

  .h6 {
    @apply text-[24px] font-medium leading-normal;
  }

  .body-1 {
    @apply text-[22px] leading-[36px] font-normal;
  }

  .body-2 {
    @apply text-[18px] font-semibold leading-[32px];
  }

  .body-3 {
    @apply text-[16px] leading-[28px] tracking-[0.02em];
  }

  .base {
    @apply text-[16px] leading-normal tracking-[0.03em] text-white/85;
  }

  .base-bold {
    @apply text-[16px] font-bold leading-[24px];
  }

  .base-small {
    @apply text-[14px] text-white/70 leading-tight tracking-[0.03em];
  }

  .small-1 {
    @apply text-[14px] font-semibold leading-tight tracking-[0.03em];
  }

  .small-2 {
    @apply text-[12px] font-bold leading-snug tracking-[0.3em];
  }

  .small-compact {
    @apply text-[12px] font-semibold leading-normal tracking-[0.03em];
  }

  /* Gradient color */
  .g1 {
    background: linear-gradient(rgba(196, 203, 245, 0.5), transparent);
  }

  .g2 {
    background: linear-gradient(#3062a3, #19549f);
  }

  .g3 {
    background: linear-gradient(#3c52d9, #0c1838);
  }

  .g4 {
    background: linear-gradient(#253575, #162561);
  }

  .g5 {
    background: linear-gradient(#334679, #162561);
  }

  .g6 {
    background: linear-gradient(#334679, #0c1838);
  }

  .g7 {
    background: linear-gradient(#1b275a, #0e1434);
  }

  .g8 {
    background: linear-gradient(to right, transparent, #2ef2ff, transparent);
  }

  .g9 {
    background: linear-gradient(#080d27, transparent);
  }

  /* custom button */
  .inner-before {
    @apply before:g7 before:absolute before:inset-0 before:opacity-0 before:transition-opacity before:duration-500 before:content-[''];
  }

  .glow-before {
    @apply before:g8 before:absolute before:left-[40%] before:top-0 before:z-40 before:h-0.5 before:w-3/5 before:opacity-0 before:transition-all before:duration-500 before:content-[''] group-hover:before:left-4 group-hover:before:opacity-40;
  }

  .glow-after {
    @apply after:g8 after:absolute after:bottom-0 after:left-4 after:z-40 after:h-0.5 after:w-[35%] after:opacity-0 after:transition-all after:duration-500 after:content-[''] group-hover:after:left-[60%] group-hover:after:opacity-40;
  }

  /* Hero image style */
  .hero-img_res {
    @apply max-lg:-top-28 max-lg:left-[calc(50%-280px)] max-lg:w-[1160px] max-md:bottom-[-450px] max-md:left-[calc(50%-240px)] max-md:top-auto max-md:w-[960px];
  }

  /* feature card gradient color */
  .feature-after {
    @apply after:g1 after:absolute after:right-0 after:top-0 after:h-full after:w-1/2 after:mix-blend-soft-light after:content-[''] max-md:after:hidden;
  }

  /* Pricing section */
  .pricing-head_before {
    @apply before:absolute before:-bottom-44 before:left-[20%] before:h-96 before:w-[65%] before:blur-[200px] before:content-[''];
  }

  .pricing-head_btn {
    @apply base-bold relative z-10 h-16 flex-1 uppercase text-white transition-colors duration-500 hover:text-white/80;
  }

  .pricing-head_btn_before {
    @apply before:absolute before:-top-16 before:left-9 before:right-9 before:bg-s4 before:blur-xl before:content-[""];
  }

  .pricing-bg {
    @apply pointer-events-none absolute -bottom-16 left-[calc(50%-480px)] z-10 mx-auto w-[960px];
  }

  .pricing-plan_first {
    @apply first:rounded-bl-3xl first:rounded-tl-3xl lg:first:border-r-0;
  }

  .pricing-plan_last {
    @apply last:rounded-br-3xl last:rounded-tr-3xl lg:last:border-l-0;
  }

  .pricing-plan_odd {
    @apply odd:border-s3 odd:bg-s1 lg:odd:mt-12;
  }

  .pricing-plan_even {
    @apply even:g7 even:rounded-3xl even:border-s4;
  }

  .faq-item-button {
    @apply rounded-full border-2 border-s2 bg-s3 size-11 p-3 shadow-inner shadow-s4;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 16px 24px rgba(0, 0, 0, 0.25),
      inset 0 3px 6px #1959ad; */
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
